<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upload File</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav class="navbar">
            <div class="brand">
                <img src="../static/images/lock.png" alt="Digital Lock">
                Digital Lock
            </div>
            <ul>
                <li><a href="{{ url_for('upload') }}">Upload Files</a></li>
                <li><a href="{{ url_for('myfiles') }}">Gestisci Files</a></li>
                <li><a href="{{ url_for('verify') }}">Verifica Firma</a></li>
                <li><a href="{{ url_for('about') }}">Chi Siamo</a></li>
                {% if session.get('is_admin') %}
                <li><a href="{{ url_for('pagina_admin') }}">Pagina Admin</a></li>
                {% endif %}
                <li class="dropdown">
                    <img src="../static/images/user.png" alt="User Image">
                    <div class="dropdown-content">
                        <p class="text"> Username: {{ session.username }}</p>
                        <p class="text"> E-mail: {{ session.email }}</p>
                        <a href="{{ url_for('logout') }}">Logout</a>
                        <a href="#" onclick="deleteAccount(event)">Elimina Account</a>
                        <form id="delete-account-form" action="{{ url_for('deleteaccount') }}" method="POST" style="display: none;">
                        </form>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="container">
            <div class="content-box">
                <h2>Inserisci file</h2>
                <form action="{{ url_for('uploadfile') }}" method="post"
                    enctype="multipart/form-data">
                    <label for="title">Titolo:</label><br>
                    <input type="text" name="title" id="title"
                        placeholder="Inserisci il titolo del file"><br><br>
                    <input type="file" name="file"><br><br>
                    <input type="submit" value="Upload">
                </form>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        function deleteAccount(event) {
            event.preventDefault();
            let choice = confirm('Sei sicuro di voler eliminare il tuo account?\nTutti i tuoi dati verranno persi e saranno irrecuperabili. Vuoi procedere?');
            if (choice) {
                document.getElementById('delete-account-form').submit();
            }
        }
    </script>
</html>